<link rel="stylesheet" href="/css/style.css">
<h1 class="title">Agregar Producto al stock</h1>

<form id="productForm" class="form">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" required>

    <label for="description">Descripción:</label>
    <textarea id="description" name="description" required></textarea>

    <label for="price">Precio:</label>
    <input type="number" id="price" name="price" required>

    <label for="category">Categoría:</label>
    <input type="text" id="category" name="category" required>

    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" required>

    <button class="button" type="submit">Enviar</button>
</form>

<script src="/js/addProduct.js"></script>