<link rel="stylesheet" href="/css/style.css">
<h2 class="title">Aca mostramos todos los productos en tiempo real</h2>

<div id="contenedorProductos" class="productsContainer"></div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="/js/main.js"></script>